<footer class="site-footer">
  <div class="wrapper">
  	
  	<!--<div class="site-title"><a href="{{ site.baseurl }}/">
      <img id="logo" src="/images/hexlogo.svg">
    </a></div>
	-->
	
    <div class="post-meta leftfl bot">© Neivin Mathew 2015</div>
    <div class="post-meta rightfl bot"><a href="https://github.com/neivin"><img src="images/github_icon.png"></a> // <a href="http://twitter.com/neivinM"><img src="images/twitter_icon.png"></a> // <a href="twitter.com/neivinM"><img src="images/linkedin_icon.png"></a></div>
  </div>

</footer>
