<header>

  <div class="wrapper">

    <div class="header-name"><a id="title-link" href="/">Neivin <span id="fname">Mathew</span></a></div> 

    <ul class="nav-links">
          <li><a class="page-link" href="#">About</a></li>
          <li><a class="page-link" href="/blog">Archive</a></li>
          <li><a class="page-link" href="/work">Projects</a></li>
<!--          <a class="page-link" href="/contact">CONTACT</a>-->
          <li><a class="page-link" href="/resume/neivin_mathew_resume.pdf">Résumé</a></li>
     </ul>

  </div>
</header>
