/**
 * Site header
 */
.site-header {
    background-color: $dark-grey;
    min-height: 65px;
    margin-bottom: 2rem;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-header > .wrapper {
    padding-top: 2rem;
    padding-bottom: 0.75rem;
}
.site-title {
    position: absolute;
    left: 50%;
}

.header-name{
    font-family: $base-font-family;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0.7;
    display: inline-block;
    width: 62%;
}

#fname {
    font-weight: 300;
}


#title-link{
    color: $background-color;
 
    &:visited {
        color: $background-color;
    }

    &:hover {
        color: $background-color;
    }

}

.desc{
    font-style: italic;
    margin-bottom: 0.7rem;
}

/* social media icons */
.smico{
    opacity: 0.5;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;

    &:hover {
        opacity: 1;
    }
}

#logo{
    height: 45px;
}

.page-link {
        color: $background-color;
        opacity: 0.6;
        line-height: $base-line-height *2;
        font-size: 1em;
        font-family: $base-font-family;
        text-align: center;


        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 40px;
        }

        &:visited {
            opacity: 1;
            color: $background-color;
        }

        &:hover{
            opacity: 1;
            color: $brand-color;
        }
    }

.nav-links{
    
    display: inline-block;
    padding: 3px;
    //margin: auto;
}

@media screen and (max-width: 500px) {
    .header-name{
        font-size: 2em;
    }

    .page-link{
        font-size: 0.9rem;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 25px;
        }

    }

    body{
        font-size: 17px;
    }
}

@media screen and (max-width: 390px) {
    .header-name{
        font-size: 1.65em;
    }

    .page-link{
        font-size: 0.7em;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 15px;
        }
    }

    .bot{
        font-size: 12px !important;
    }
}

.site-nav {

     line-height: 60px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        font-size: 13px;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */

.leftfl{
    float:left;
}

.rightfl{
    float: right;
}

.footer-text{
    display: table;
    margin: auto;
    font-size: 13px;
    font-family: $base-font-family;
    letter-spacing: .1em;
    color: #999999;
    text-transform: uppercase;
}

#heart{
    color: red;
}

#left{
    float: left;
}

#right{
    float: right;
}

.border{
    margin: auto;
    padding: 5px;
    border-top: 1px solid $grey-color-light;
    width: 50%;
}
.site-footer {
    margin-top: 4rem;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-family: $sub-font;
    font-size: $sub-font-size;
    color: $grey-color;
    letter-spacing: 0.01rem;
    padding-right: 1em;
}

.post-link {
    display: inline;
    font-size: 1em;
    font-weight:700;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-family: $base-font-family;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
