---
layout: page
title: Projects
permalink: /pages/projects/
---

<ul class="post-list">
	{% assign projlist = site.projects | sort: 'date'| reverse %}
	{% for proj in projlist%}
		<li>
			<h1><a href="{{ proj.link }}">{{ proj.name }}</a><h1>

			{% if proj.avail %}
			<a href="{{ proj.link }}"><img alt="Github" class="smico" src="/images/github_icon.png"/></a>
			{% endif %}

			<div class="post-meta desc">{{ proj.desc }}</div>	

			<article class="post-content">
			    {{ proj.content }}
			</article>
		</li>
	{% endfor %}
	
</ul>
