---
layout: default
title: Projects
---

<ul class="post-list">
	{% for proj in site.projects%}
		<li>
			<a href="{{ proj.link }}">
			<span class="post-title">{{ proj.name }}</span>
			</a>

			{% if proj.avail %}
			<a class="post-title" href="{{ proj.link }}"><img alt="Github" class="smico" src="/images/github_icon.png"/></a>
			{% endif %}

			<div class="post-meta desc">{{ proj.desc }}</div>	

			<article class="post-content">
			    {{ proj.content }}
			</article>
		</li>
	{% endfor %}
	
</ul>